#tooltip {
opacity: 1;
color: gainsboro;
text-shadow: 3px 1px blue;
font-size:360%;
bottom: 105px;
text-indent: 0%;
right: 80px;
}
#tooltip1 {
opacity: 1;
color: gainsboro;
text-shadow: 3px 1px blue;
font-size:240%;
bottom:70px;
right: 80px;
text-indent: 0%;
}
#tooltip2 {
opacity: 1;
color: gainsboro;
text-shadow: 3px 1px blue;
font-size:240%;
bottom:30px;
right: 80px;
}
.bar:hover {
  fill: #ec008c;
  opacity: 0.6;
}
.button {
background-color: #4CAF50;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
margin-right: 0px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: green;
    background-image: none;
    border:1px solid black;
}
.custom-select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2C3E50;
    overflow: hidden;
    border-radius: .25em;
    top:-700px;
    left: 1100px;
}
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495E;
    pointer-events: none;
}
.custom-select:hover::after {
    color: #F39C12;
}

<!-- For different browsers -->
.custom-select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
