<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <link href="sample3.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
  <div id="tooltip" display="none" style="position: absolute; display: none;"></div>
  <svg id="svg" ref="svg" height="700" width="510">
   <path class="bar"
     v-for="(state, index) in stateData"
     :d="pathGenerator(state.feature)"
     :style="{
       fill: state.color,
       stroke: 'darkslategray'
     }"
      @click="updateState(index,state)">
   </path></svg>
   <div id="tooltip1" display="none" style="position: absolute; display: none;"></div>
   <div id="tooltip2" display="none" style="position: absolute; display: none;"></div>
   <svg id="svg" ref="svg" height="700" width="700">
     <path class="bar"
       v-for="(city, index1) in cityData"
       :d="projection1(city.feature1)"
       :style="{
         fill: city.color,
         stroke: 'darkslategray'
       }"
       @mouseover="updateCity(index1,city);updateData(data2);findCommonElement(index1, city)">
     </path>
 </svg>
 <div class="custom-select"><select class="select" v-model="age"  @change="selected">
     <option style="display:none;" selected disabled value="">Year</option>
     <option v-for="option in options" :value="option">{{option}}</option>
   </select></div>
<!-- Add 2 buttons -->
<div>
<button class="button" style="margin-left:70px" @click="updateData(data1)">Dataset 1</button>
<button class="button" style="margin-left:0px" @click="updateData(data2)">Dataset 2</button>
</div>

<div id="my_dataviz"  style="background-color:lightblue; width:50%;"></div>


</div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="sample2.js"></script>



    </body>
    </html>
